{!$table->startTag()}
<tr>
	<td><a href="{$prev}"><</a></td>
	<td colspan='5'>{$month} - {$year}</td>
	<td><a href="{$next}">></a></td>
</tr>
<tr>
	<td>Po</td>
	<td>Ut</td>
	<td>St</td>
	<td>Ct</td>
	<td>Pa</td>
	<td>So</td>
	<td>Ne</td>
</tr>
{!$table->getHtml()}
{!$table->endTag()}

